astroid==2.4.2
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
idna==2.10
img2pdf==0.4.0
isort==4.3.21
lazy-object-proxy==1.4.3
lxml==4.5.2
mccabe==0.6.1
natsort==7.0.1
pikepdf==1.17.3
Pillow==7.2.0
pylint==2.5.3
PyPDF2==1.27.5
PyQt5==5.15.0
PyQt5-sip==12.8.0
requests==2.24.0
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
toml==0.10.1
urllib3==1.25.10
wrapt==1.12.1
